<br>
<div class="container">
    <div class="card">
        <div class="card-header" style="text-align: center;">
            <h3>
                Lista de vuelos
            </h3>
        </div>

        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Fecha</th>
                        <th>Hora de salida</th>
                        <th>Hora de llegada</th>
                        <th>Precio</th>
                        <th>Opciones</th>
                    </tr>
                 </thead>
                <tbody>
                     <tr *ngFor="let vuelo of vuelos">
                         <td>{{vuelo.idVuelo}}</td>
                         <td>{{vuelo.origen}}</td>
                         <td>{{vuelo.destino}}</td>
                         <td>{{vuelo.fecha}}</td> 
                         <td>{{vuelo.horaSalida}}</td>
                         <td>{{vuelo.horaLlegada}}</td>
                         <td>{{vuelo.precio}}</td>
                         <td>
                             <button (click)="listarPasajeros()" class="btn btn-primary">Ver pasajeros</button>
                         </td>

                    </tr>
                </tbody>          
            </table>
         </div>                   
     </div>
</div>