<hr>
 <div class="container">
     <div style="padding: 10px; float: left; width: 45%; text-align: center;">
        <th>Agregar un pasajero:</th>
        <td><button (click)="crearPasajero()"class="btn btn-primary" style="margin-left: 10px;" >Agregar</button></td>
     </div>
     <div style="padding: 10px; float: right; width: 45%; text-align: center;">
        <input type="text" class="input" name="identificacion" [(ngModel)]="identificacion">
        <button (click)="buscar(identificacion)" class="btn btn-primary" style="margin-left: 5px;" >Buscar</button>
    </div>
</div>
<hr>

<div class="container">
    <div class="card">
        <div class="card-header" style="text-align: center;">
            <h3>
                Lista de pasajeros
            </h3>
        </div>
        <div class="container">
            <table class="table table-hover" >
                <thead>
                    <tr>
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Opciones</th>
                    </tr>
                 </thead>
                <tbody>
                     <tr *ngFor="let pasajero of pasajeros">
                         <td>{{pasajero.identificacion}}</td>
                         <td>{{pasajero.nombre}}</td>
                         <td>{{pasajero.apellidos}}</td>
                         <td>{{pasajero.direccion}}</td> 
                         <td>{{pasajero.telefono}}</td>
                         <td>
                             <button (click)="editarPasajero(pasajero)" class="btn btn-warning" style="margin-right: 5px;">Editar</button>
                             <button (click)="eliminarPasajero(pasajero)" class="btn btn-danger">Eliminar</button>
                         </td>
                    </tr>
                </tbody>          
            </table>
         </div>                   
     </div>
</div>
